@font-face {
  font-weight: 400;
  font-family: "open-sans";
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-weight: 500;
  font-family: "open-sans";
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-weight: 600;
  font-family: "open-sans";
  src: url(../fonts/OpenSans-Semibold.ttf);
}
@font-face {
  font-weight: 700;
  font-family: "open-sans";
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-weight: 900;
  font-family: "open-sans";
  src: url(../fonts/OpenSans-ExtraBold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "open-sans";
  font-weight: 500;
  background: #faf9f5;
  overflow-x: hidden;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

header {
  width: 100%;
  background: #fff;
  padding: 1.5rem 0 1rem 0;
  border-bottom: 1px solid #dfdfdf;
}

nav {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: space-between;
  align-items: center;
}

/* resposive design */
@media screen and (min-width: 300px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
  nav .menu--active {
    color: #a10550 !important;
  }
  nav .logo {
    text-align: center;
  }
  nav .nav-menu {
    display: flex;
    gap: 20px;
    font-weight: 900;
    display: none;
    font-size: 12px;
  }
  nav .nav-menu a {
    color: #202020;
  }
  nav .change-language {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 7px;
  }
  nav .change-language img {
    width: 15%;
    height: 15%;
  }
  nav .change-language span {
    font-size: 12px;
    color: #606060;
  }
  main {
    padding: 2rem 0;
  }
  main .breadcrumb {
    display: flex;
    align-items: center;
  }
  main .breadcrumb span {
    color: #606060;
  }
  main .breadcrumb p {
    font-weight: 600;
  }
  main .product-title {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 1rem 0;
  }
  main .product-title span {
    font-size: 14px;
    color: #606060;
    margin-top: 5px;
  }
  main .product-filter {
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  main .product-filter .filter {
    font-size: 14px;
    background: #fff;
    border: 1px solid #dfdfdf;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px 1rem;
  }
  main .product-filter .filter p {
    font-weight: 600;
  }
  main .product-filter .filter span {
    font-size: 12px;
  }
  main .product-filter .filter--sort {
    padding: 5px;
    justify-content: space-between;
  }
  main .product-filter .filter-title {
    display: none;
  }
  main .product-filter .filter--space {
    display: none;
  }
  main .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  main .product .product--card {
    background: #fff;
    border: 1px solid #dfdfdf;
  }
  main .product .product--card .product--image {
    width: 100%;
  }
  main .product .product--card .product--image img {
    width: 100%;
  }
  main .product .card--description {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  main .product .card--description .card--title {
    color: #a10550;
    font-weight: 700;
  }
  main .product .card--description .card--price {
    font-weight: 900;
  }
  main .product .card--women {
    background: linear-gradient(#3d021e, #79043c, #3d021e);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  main .product .card--women .card--title {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
  }
  main .product .card--women .card-caption {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 2rem;
  }
  main .product .card--women .product--image {
    text-align: center;
  }
  main .product .card--women .product--image img {
    width: 100%;
    margin-bottom: -5px;
  }
  .main-content {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem 0;
  }
  .main-content .filter {
    display: flex;
    flex-direction: column;
  }
  .main-content .filter .filter--item {
    border: 1px solid #dfdfdf;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 5px 0;
    padding: 7px;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 14px;
  }
  .sidebar {
    background: #fff;
    margin-right: 1.5rem;
    display: none;
  }
  .sidebar .sidebar--title {
    font-weight: 700;
    font-size: 22px;
  }
  .sidebar .category-section {
    border-bottom: 1px solid #dfdfdf;
    padding: 1rem;
    font-size: 14px;
  }
  .sidebar .category--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sidebar .category--header .category--title {
    color: #a10550;
    font-weight: 700;
  }
  .sidebar .category--buttons {
    margin-top: 5px;
  }
  .sidebar .category--buttons .category--btn {
    accent-color: #0c0c0c;
    margin-right: 5px;
  }
  .sidebar-sm {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 2rem;
    transition: all 0.5s ease-in-out;
    transform: translatex(-100%);
  }
  .sidebar-sm .times-btn {
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    width: 1rem;
    cursor: pointer;
  }
  .sidebar-sm .sidebar--title {
    font-weight: 700;
    font-size: 22px;
  }
  .sidebar-sm .category-section {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 1rem;
  }
  .sidebar-sm .category--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sidebar-sm .category--title {
    color: #a10550;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .sidebar-sm .category--buttons {
    margin-top: 5px;
  }
  .sidebar-sm .category--buttons .category--btn {
    accent-color: #0c0c0c;
  }
  .sidebar-sm .category--button {
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
  }
  .sidebar-sm .category--button .category--btn {
    width: 50%;
    padding: 1rem;
    border: none;
    outline: none;
    background: none;
    color: #a10550;
  }
  .sidebar-sm .category--button .apply--btn {
    background: #a10550 !important;
    color: #fff !important;
  }
  .applied-filter {
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
  .applied-filter .applied-title {
    font-weight: 700;
  }
  .applied-filter a {
    color: #a10550;
  }
  .out-of-stock {
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
  }
  .out-of-stock .stock--btn {
    padding: 1rem;
    width: 1rem;
    height: 1rem;
    border: 1px solid red;
  }
  .out-of-stock .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  .out-of-stock .switch .switch--btn {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .out-of-stock .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dfdfdf;
    transition: 0.4s;
  }
  .out-of-stock .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 5px;
    background-color: white;
    transition: 0.4s;
  }
  .out-of-stock .switch--btn:checked + .slider:before {
    transform: translateX(26px);
  }
  .out-of-stock .switch--btn:checked + .slider {
    background: #a10550;
  }
}
@media screen and (min-width: 576px) {
  .container {
    width: 540px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  nav .change-language img {
    width: 10%;
    height: 10%;
  }
  .product-filter {
    justify-content: space-between;
    grid-template-columns: 1fr 1fr !important;
  }
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  nav .hamburger-menu {
    display: none;
  }
  nav .nav-menu {
    display: flex;
    justify-content: center;
  }
  .product {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .product-filter {
    grid-template-columns: 1fr 2fr 1fr !important;
  }
  .product-filter .filter--sm {
    display: none !important;
  }
  .product-filter .filter-title {
    display: block !important;
  }
  .product-filter .filter--space {
    display: block !important;
  }
  .sidebar {
    display: block;
  }
  .main-content {
    grid-template-columns: 1fr 3fr;
  }
}
@media (min-width: 1200px) {
  nav .nav-menu {
    font-size: 14px;
  }
  nav .change-language img {
    width: 7%;
    height: 7%;
  }
  .container {
    width: 1170px;
  }
}/*# sourceMappingURL=style.css.map */